
button {
    font-size: 18px;
    width: 100px;
    /*margin creates extra space AROUND an element*/
    margin: 10px;
    /*padding creates extra space WITHIN an element*/
    padding: 15px;
    color: whitesmoke;
    border-radius: 30px;
    border-color: black;
    border-width: 2px;
}

.counterButton {
    background-color: grey;
}

.count {
    font-size: 50px;
    padding: 20px;

}

.totalCount {
    color: darkslategray;
    font-size: 150px;
}

.resetButton {
    background-color: red;
}